DataFrame class

In [ ]:
import numpy as np
import pandas as pd

데이터 프레임 생성

In [ ]:
data = {
    "2015": [9904312, 3448737, 2890451, 2466052],
    "2010": [9631482, 3393191, 2632035, 2431774],
    "2005": [9762546, 3512547, 2517680, 2456016],
    "2000": [9853972, 3655437, 2466338, 2473990],
    "지역": ["수도권", "경상권", "수도권", "경상권"],
    "2010-2015 증가율": [0.0283, 0.0163, 0.0982, 0.0141]
}
columns = ["지역", "2015", "2010", "2005", "2000", "2010-2015 증가율"]
index = ["서울", "부산", "인천", "대구"]
df = pd.DataFrame(data, index=index, columns=columns)
df

     지역     2015     2010     2005     2000  2010-2015 증가율
서울  수도권  9904312  9631482  9762546  9853972         0.0283
부산  경상권  3448737  3393191  3512547  3655437         0.0163
인천  수도권  2890451  2632035  2517680  2466338         0.0982
대구  경상권  2466052  2431774  2456016  2473990         0.0141

In [ ]:
df.values

array([['수도권', 9904312, 9631482, 9762546, 9853972, 0.0283],
       ['경상권', 3448737, 3393191, 3512547, 3655437, 0.0163],
       ['수도권', 2890451, 2632035, 2517680, 2466338, 0.0982],
       ['경상권', 2466052, 2431774, 2456016, 2473990, 0.0141]], dtype=object)

In [ ]:
df.index

Index(['서울', '부산', '인천', '대구'], dtype='object')

In [ ]:
df.index.name = "도시"
df.columns.name = "특성"
df

특성   지역     2015     2010     2005     2000  2010-2015 증가율
도시
서울  수도권  9904312  9631482  9762546  9853972         0.0283
부산  경상권  3448737  3393191  3512547  3655437         0.0163
인천  수도권  2890451  2632035  2517680  2466338         0.0982
대구  경상권  2466052  2431774  2456016  2473990         0.0141

## 열 데이터의 갱신, 추가, 삭제
데이터프레임 열 시리즈의 딕셔너리로 볼 수 있는 열 단위로 데이터를 갱신하거나 추가, 삭제 가능

In [ ]:
# "2010-2015 증가율"이라는 이름의 열 추가
df["2010-2015 증가율"] = df["2010-2015 증가율"] * 100
df

특성   지역     2015     2010     2005     2000  2010-2015 증가율
도시
서울  수도권  9904312  9631482  9762546  9853972           2.83
부산  경상권  3448737  3393191  3512547  3655437           1.63
인천  수도권  2890451  2632035  2517680  2466338           9.82
대구  경상권  2466052  2431774  2456016  2473990           1.41

In [ ]:
# "2005-2010 증가율"이라는 이름의 열 추가
df["2005-2010 증가율"] = ((df["2010"] - df["2005"]) / df["2005"] * 100).round(2)
df

특성   지역     2015     2010     2005     2000  2010-2015 증가율  2005-2010 증가율
도시
서울  수도권  9904312  9631482  9762546  9853972           2.83          -1.34
부산  경상권  3448737  3393191  3512547  3655437           1.63          -3.40
인천  수도권  2890451  2632035  2517680  2466338           9.82           4.54
대구  경상권  2466052  2431774  2456016  2473990           1.41          -0.99

In [ ]:
# "2010-2015 증가율"이라는 이름의 열 삭제
del df["2010-2015 증가율"]
df

특성   지역     2015     2010     2005     2000  2005-2010 증가율
도시
서울  수도권  9904312  9631482  9762546  9853972          -1.34
부산  경상권  3448737  3393191  3512547  3655437          -3.40
인천  수도권  2890451  2632035  2517680  2466338           4.54
대구  경상권  2466052  2431774  2456016  2473990          -0.99

## 열 인덱싱

In [ ]:
df["지역"]

도시
서울    수도권
부산    경상권
인천    수도권
대구    경상권
Name: 지역, dtype: object

In [ ]:
df[["2010", "2015"]]

특성     2010     2015
도시
서울  9631482  9904312
부산  3393191  3448737
인천  2632035  2890451
대구  2431774  2466052

In [ ]:
df[["2010"]]

특성     2010
도시
서울  9631482
부산  3393191
인천  2632035
대구  2431774

In [ ]:
df2 = pd.DataFrame(np.arange(12).reshape(3, 4))
df2

   0  1   2   3
0  0  1   2   3
1  4  5   6   7
2  8  9  10  11

##행 인덱싱
Slicing 과 인덱스의 문자 라벨이면 라벨 슬라이싱도 가능하다.

In [ ]:
df[:1]

    국어  영어  수학
춘향  80  90  90

In [ ]:
df[1:2]

    국어  영어  수학
몽룡  90  70  60

In [ ]:
df[1:3]

    국어  영어  수학
몽룡  90  70  60
향단  70  60  80

In [ ]:
df['서울':'부산']

KeyError: ignored

## 개별 데이터 인덱싱
df['열 이름']['행 이름']

In [ ]:
df["2015"]["서울"]

9904312

## 연습 문제 4.1.3

In [ ]:
data = {
    "국어": [80, 90, 70, 30],
    "영어": [90, 70, 60, 40],
    "수학": [90, 60, 80, 70],
}
columns = ["국어", "영어", "수학"]
index = ["춘향", "몽룡", "향단", "방자"]
df = pd.DataFrame(data, index=index, columns=columns)

In [ ]:
# 1) 수학 점수를 시리즈로
df['수학']

춘향    90
몽룡    60
향단    80
방자    70
Name: 수학, dtype: int64

In [ ]:
# 2) 국어, 영어 점수를 데이터 프레임으로
df[['국어', '영어']]

    국어  영어
춘향  80  90
몽룡  90  70
향단  70  60
방자  30  40

In [ ]:
# 3) 평균을 새로운 열로 추가
df.values

array([[80, 90, 90],
       [90, 70, 60],
       [70, 60, 80],
       [30, 40, 70]])

In [ ]:
np.mean(df.values, axis=1)

array([86.66666667, 73.33333333, 70.        , 46.66666667])

In [ ]:
1

1

In [ ]:
df['평균'] = np.mean(df.values, axls=1).round(1)

TypeError: ignored

In [ ]:
# 4) 방자 영어점수를 80점으로 수정
del df['평균']
df['영어'][3] = 80
df['평균'] = np.round(df.mean(axis=1),1)
df

KeyError: ignored

In [ ]:
# 5) 춘향의 점수를 데이터프레임으로
df.T[:'춘향']

KeyError: ignored

In [ ]:
# 6) 향단의 점수를 시리즈로
df.T['향단']

국어    70
영어    60
수학    80
Name: 향단, dtype: int64

In [ ]:
df['영어']['방자']

40